<!-- <div class="container-fluid">
  <div class="row"> -->
<!-- First Half: Image -->
<!-- <div class="col-md-6 imagecontainer"></div> -->

<!-- Second Half: Form -->
<!-- <div class="col-md-6 formcontainer">
      <form [formGroup]="loginForm" class="displayform">
        <div class="inputholder">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <div
            class="errordiv"
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">
              Invalid email format.
            </div>
          </div>
        </div>
        <div class="inputholder">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
          <div
            class="errordiv"
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.errors
            "
          >
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
              Minimum length is 7 characters.
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['uppercase']">
              Password must contain at least one uppercase letter.
            </div>
          </div>
        </div>
        <div class="inputholder">
          <button
            class="btn btn-primary button"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
      <div class="container"></div>
    </div>
  </div>
</div> -->
<!-- <mat-stepper linear="true"> -->
<!-- <mat-step label="Step 1">

    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step> -->
<!-- Content for step 2 -->
<!-- <mat-step label="Step 2">
<app-component2

    >
    </app-component2>
<div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
</mat-step> -->
<!-- <mat-step label="Step 3"> -->
<!-- Content for step 3 -->
<!-- <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onFinish()">Finish</button>
    </div>
  </mat-step>
 </mat-stepper> -->
<!-- <div>
  <div
    class="progress"
    role="progressbar"
    aria-label="Example 1px high"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <div
      class="progress-bar"
      [ngStyle]="{
        'width.%': currentProgress,
        'background-color': currentProgress > 0 ? 'blue' : 'grey'
      }"
    ></div>
  </div>
  <div class="name-holder">
    <span>Baseline data input</span>
    <span>Emissions inventory</span>
    <span>Baseline assumptions</span>
    <span>Fourth step</span>
  </div>
</div>
<app-component1 (progressBar)="updateProgress($event)"></app-component1> -->

<div>
  <!-- Progress bar -->
  <div
    class="progress"
    role="progressbar"
    aria-label="Progress bar"
    aria-valuenow="25"
    aria-valuemin="0"
    aria-valuemax="100"
  >
    <div
      class="progress-bar"
      [ngStyle]="{
        'width.%': currentProgress,
        'background-color': currentProgress > 0 ? 'blue' : 'grey'
      }"
    ></div>
  </div>

  <!-- Step Labels -->
  <div class="name-holder">
    <span [ngStyle]="{ color: currentProgress >= 25 ? 'blue' : 'grey' }"
      >Baseline data input</span
    >
    <span [ngStyle]="{ color: currentProgress >= 50 ? 'blue' : 'grey' }"
      >Emissions inventory</span
    >
    <span [ngStyle]="{ color: currentProgress >= 75 ? 'blue' : 'grey' }"
      >Baseline assumptions</span
    >
    <span [ngStyle]="{ color: currentProgress >= 100 ? 'blue' : 'grey' }"
      >Fourth step</span
    >
  </div>
</div>

<!-- Dynamically load different components based on the current step -->
<app-component1
  *ngIf="currentStep === 1"
  [currentStep]="currentStep"
  (progressBar)="updateProgress($event)"
  (lastStep)="nextStepUpdate($event)"
></app-component1>
<app-component2
  *ngIf="currentStep === 2"
  [currentStep]="currentStep"
  (progressBar)="updateProgress($event)"
  (lastStep)="nextStepUpdate($event)"
  (lastStep)="previousStep($event)"
></app-component2>
<app-component3
  *ngIf="currentStep === 3"
  (progressBar)="updateProgress($event)"
></app-component3>
