<!-- <div class="container-fluid">
  <div class="row"> -->
<!-- First Half: Image -->
<!-- <div class="col-md-6 imagecontainer"></div> -->

<!-- Second Half: Form -->
<!-- <div class="col-md-6 formcontainer">
      <form [formGroup]="loginForm" class="displayform">
        <div class="inputholder">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <div
            class="errordiv"
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">
              Invalid email format.
            </div>
          </div>
        </div>
        <div class="inputholder">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
          <div
            class="errordiv"
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.errors
            "
          >
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
              Minimum length is 7 characters.
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['uppercase']">
              Password must contain at least one uppercase letter.
            </div>
          </div>
        </div>
        <div class="inputholder">
          <button
            class="btn btn-primary button"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </form>
      <div class="container"></div>
    </div>
  </div>
</div> -->
<mat-stepper #stepper linear="true">
  <mat-step label="Step 1">
    <app-component1
      (formGroup1Submit)="onFormGroup1Submit($event)"
      (formGroup2Submit)="onFormGroup2Submit($event)"
      (formGroup3Submit)="onFormGroup3Submit($event)"
      (formArraySubmit)="onFormArraySubmit($event)"
    >
    </app-component1>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 2">
    <!-- Content for step 2 -->
    <app-component2
      (formGroup1Submit2Step)="onFormGroup1Submit2Step($event)"
      (formGroup2Submit2Step)="onFormGroup2Submit2Step($event)"
      (formGroup3Submit2Step)="onFormGroup3Submit2Step($event)"
      (formArraySubmit2Step)="onFormArraySubmit2Step($event)"
    >
    </app-component2>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step label="Step 3">
    <!-- Content for step 3 -->
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onFinish()">Finish</button>
    </div>
  </mat-step>
</mat-stepper>
