<div class="container-fluid">
  <div class="row">
    <!-- First Half: Image -->
    <div class="col-md-6 imagecontainer"></div>

    <!-- Second Half: Form -->
    <div class="col-md-6 formcontainer">
      <form [formGroup]="loginForm" class="displayform">
        <div class="inputholder">
          <label for="email">Email:</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
          />
          <div
            class="errordiv"
            *ngIf="
              loginForm.get('email')?.invalid && loginForm.get('email')?.touched
            "
          >
            <div *ngIf="loginForm.get('email')?.errors?.['required']">
              Email is required.
            </div>
            <div *ngIf="loginForm.get('email')?.errors?.['email']">
              Invalid email format.
            </div>
          </div>
        </div>
        <div class="inputholder">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password"
          />
          <div
            class="errordiv"
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched &&
              loginForm.get('password')?.errors
            "
          >
            <div *ngIf="loginForm.get('password')?.errors?.['required']">
              Password is required.
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['minlength']">
              Minimum length is 7 characters.
            </div>
            <div *ngIf="loginForm.get('password')?.errors?.['uppercase']">
              Password must contain at least one uppercase letter.
            </div>
          </div>
        </div>
        <div class="inputholder">
        <button
          class="btn btn-primary button"
          type="submit"
          [disabled]="loginForm.invalid"
        >
          Login
        </button></div>
      </form>
      <div class="container"></div>
    </div>
  </div>
</div>
